body {
    font-family: Arial, sans-serif;
}

#search-form {
    margin-bottom: 20px;
}

#current-image-container {
    margin-bottom: 20px;
    background-color: black;
    color: white;
    padding: 30px;
}

#search-history {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    cursor: pointer;
    margin-bottom: 5px;
}

#search-history li:hover {
    text-decoration: underline;
}
